<h1 class="alert alert-warning">This is an Example of Router guard concepts - CanActive, CanActiveChild</h1>

<div class="" *ngIf="isLoggedUser()">
  <nav class="menu-nav">
    <a [routerLink]="['/user/welcome']" routerLinkActive="is-active">Dashoard</a>   
    <a [routerLink]="['/user']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">Users</a>  
    <a [routerLink]="['user/create']" routerLinkActive="is-active">Create User</a> 
  </nav>
</div>
<p-toast position="top-right"></p-toast>
<router-outlet></router-outlet>

