/* You can add global styles to this file, and also import other style files */
.p-datatable .p-datatable-header {
    padding: 0.5rem;
    background-color: #526a3f;
    color: #fff;
    border-top: none;
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #e0efe4;
    transition: box-shadow 0.2s;
    padding: 0.5rem;
    text-transform: capitalize;
}
.p-datatable .p-datatable-thead > tr > th.actions{
    width: 250px;
}
.p-datatable .p-datatable-tbody tr:nth-child(even) {
    background: #e8f7ec !important;
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem !important;
}


/* Menu Nav CSS starts here... */

nav.menu-nav {
    background: #48514a;
    padding: 0.3rem 0.;
    color: #fff;
    margin-top: -16px;
    border: none;
    line-height: 31px;
    padding-bottom: 0.2rem;
}

nav.menu-nav a {
    color: #fff;
    text-decoration: underline;
    padding: 0.25rem 0.4rem 0.5rem;
    border-bottom: none;
    background: #3f6a4a;
    text-decoration: none;
    border-right: 2px solid #48514a;
}

nav.menu-nav a.is-active{
    background-color: #526a3f;
    color: #fff3cd;
}
