<div *ngIf="outlet.isActivated == false">
   
    <ng-container *ngTemplateOutlet="userListPanel"></ng-container>
 </div>
 
 <router-outlet #outlet="outlet"></router-outlet>

<ng-template #userListPanel>
    <p-table [columns]="cols" [value]="usersList">
        <ng-template pTemplate="caption" let-title>
           Registered Users
           <span class="undo-cls" *ngIf="getUndoStatus()" (click)="undoRecentAction($event)"  pButton icon="pi pi-check" label="Confirm">
               <span pTooltip="Undo the Recent Action" tooltipPosition="left"> <i class="fa fa-solid fa-rotate-left"></i></span>
               
         </span>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                  {{col.fieldName}}
                </th>
                <th class="actions">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                 {{rowData[col.fieldName]}}
                </td>
                <td class="actions">
                    <a [routerLink]="['/user/edit', rowData['userId']]" [queryParams]="{a:rowData['userId']}">Edit</a> | 
                    <!-- Here queryParams usage can  be skip if we are using path params and vice versa -->
                    <a [routerLink]="['/user/delete', rowData['userId']]">Delete</a> |
                    <a [routerLink]="['/user/view', rowData['userId']]">View</a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>

